<footer>
  <p>
    All content, trademarks, artwork, and associated imagery are trademarks and/or copyright material of their respective owners.<br>
    All rights reserved, Copyright &copy; {{getCurrentYear}} Jackson Duke
  </p>
</footer>
