<header>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <style>
      body {
          width: 35em;
          margin: 0 auto;
          font-family: Century Gothic;
          text-align: center;
          background-color: #176B64;
          color: #fefefe;
      }
  </style>
</header>